---
layout: default
---
<!--start-blog-->
	<div class="blog">
		<div class="container">
			<div class="blog-main">
				<h3>BLOG</h3>
				<div class="blog-top">
					<div class="col-md-8 blog-left">
<!--            {% for post in site.posts %}
              {% if post.img %}
                <img class="caption__media" src="
                  {% for img in post.img %}
                    [{{site.baseurl}}/assets/{{img[1]}} ({{img[0]}})]
                    {% unless forloop.last %},
                    {% endunless %}
                  {% endfor %} ">
              {% endif %}
            {% endfor %}
-->
            {{ content }}
					</div>
				</div>
					<div class="col-md-4 blog-right">
						<div class="archives">
							  <h4>Archives</h4>
    						  <div id="accordion">
                      {% for post in site.posts %}
                        {% unless post.next %}
                          <h3>{{ post.date | date: '%Y' }}</h3><div><ul>
                        {% else %}
                          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                          {% if year != nyear %}
                          </ul></div><h3>{{ post.date | date: '%Y' }}</h3><div><ul>
                          {% endif %}
                        {% endunless %}
                              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                          {% if post.last %}
                            </ul></div>
                          {% endif %}
                      {% endfor %}
                      </div>
                  </div> <!-- End accordion -->
						  </div><!-- End archives -->
						

						<div class="recent">
							<h4>Recent posts</h4>
							
					{% for post in site.posts limit: 4 %}
							<div class="recent-top">
								<div class="col-md-4 recent-left">
									<img src="/assets/recent-1.jpg" alt="">
								</div> <!-- End col-md-4 recent-left -->
								<div class="col-md-8 recent-left">
									<span>{{ post.date | date: "%b %-d, %Y" }}</span>
									<a href="{{ post.url }}"><h5>{{ post.title }}</h5></a>
									<p>{{ post.content | truncatewords: 20 }}</p>
								</div> <!-- End col-md-8 recent-left -->
								<div class="clearfix"></div>
							</div> <!-- End recent-top -->
					{% endfor %}
						</div><!-- End recent -->
					</div><!-- end col-md-4 blog-right -->
					<div class="clearfix"></div>
				</div> <!-- End blog-top -->
				<div class="blog-bottom">
					<ul>
						<li><a href="#" class="active">PREV</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">14</a></li>
						<li><a href="#">15</a></li>
						<li><a href="#" class="active">NEXT</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--end-blog-->
