---
layout: default
---
<!--start-blog-->
	<div class="blog">
		<div class="container">
			<div class="blog-main">
				<h3>BLOG</h3>
				<div class="blog-top">
					<div class="col-md-8 blog-left">
            {{ content }}
					</div>
				</div>
				<div class="col-md-4 blog-right">
					<div class="blog-right-top">
						<h4>Categories</h4>
						<ul>
							<li><a href="#">Nulla consectetur adipiscing metus</a></li>
							<li><a href="#">purus vitae varius sagittis</a></li>
							<li><a href="#">Epsum factorial non deposit quid</a></li>
							<li><a href="#">Donec eu elit in nisi placerat</a></li>
							<li><a href="#">Curabitur congue eros ac turpis</a></li>
					</ul>
					</div>
					<div class="archives">
						<h4>Archives</h4>
					<ul>
						<li><a href="#">November,2013</a></li>
						<li><a href="#">May,2013</a></li>
						<li><a href="#">April,2013</a></li>
						<li><a href="#">June,2013</a></li>
						<li><a href="#">August,2013</a></li>
						<li><a href="#">January,2013</a></li>
					</ul>
					</div>
					<div class="recent">
						<h4>Recent posts</h4>
						<div class="recent-top">
							<div class="col-md-4 recent-left">
								<img src="images/recent-1.jpg" alt="">
							</div>
							<div class="col-md-8 recent-left">
								<span>MARCH 13, 2013 9:31 AM</span>
								<h5>Fusce suscipit varius</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="recent-top">
							<div class="col-md-4 recent-left">
								<img src="images/recent-3.jpg" alt="">
							</div>
							<div class="col-md-8 recent-left">
								<span>MARCH 13, 2013 9:31 AM</span>
								<h5>Fusce suscipit varius</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="recent-top">
							<div class="col-md-4 recent-left">
								<img src="images/recent-2.jpg" alt="">
							</div>
							<div class="col-md-8 recent-left">
								<span>MARCH 13, 2013 9:31 AM</span>
								<h5>Fusce suscipit varius</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!--end-blog-->
